@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');



:root {
    --fonte:'Barlow Semi Condensed', sans-serif;

    --cor1:hsl(0, 0%, 81%);
    --cor2:hsl(210, 46%, 95%);
    --cor3:hsl(0, 0%, 100%);
    --cor4:hsl(217, 19%, 35%);
    --cor5:hsl(219, 29%, 14%);
    --cor6:hsl(263, 55%, 52%);
    --cor7:hsl(263, 25%, 52%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
    font-size: 13px;
    
}

body {
    /* background-image: url(design/desktop-design-inverted.jpg); */
    background-color: var(--cor2);  
    padding: 5.4rem 1.88rem;

}

.wrapper {
    display: grid;
    gap: 2rem;
    /* opacity: 40%; */
}

section {    
    border-radius: 0.625rem;
    padding: 1.85rem 2.2rem 2.4rem 2.2rem;
}

.primeiro {
    background-color: var(--cor6);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    color: var(--cor1);   
    
}

.segundo {
    background-color:var(--cor4);    
    color: var(--cor1);
}

.terceiro {
    background-color: var(--cor3);
    
    color: var(--cor5);
}

.quarto {
    background-color: var(--cor5);
    
    color: var(--cor1);
}

.quinto {
    background-color: var(--cor3);    
    color: var(--cor5);
            
}

.pessoa {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pessoa img {
    border-radius: 50%;
    border: 3px solid var(--cor7);
    margin-top: 2px;
    margin-right: 14px;
    width: 34px;    
}

.pessoa img.bege {
    border: 3px solid var(--cor2);
}

.person {
    line-height: 15px;
    font-size: 13px;
}

h1 {
    font-size: 20.4px;
    line-height: 24px;
    font-weight: bolder;
    padding: 13.1px 0 17px 2.2px;
}

.cinquenta {
    opacity: 50%;
    font-size: 11px;
}

.setenta {
    opacity: 70%;
    margin-left: 1px;
    font-size: 13.1px;
    line-height: 17.8px;
    padding: 0px 15.4px 0px 2.2px;
}

@media (min-width: 77rem) {

    body {      
        display: flex;
        justify-content: center;
        padding: 8rem;
    }

    .wrapper {        
        grid-template-columns: repeat(2, 40vw);
        column-gap: 2.4rem;
        row-gap: 2rem;        
    }

    section {
        height: 21.6rem;        
    }
    
    section:last-child {
        grid-column-start: 1;
        grid-column-end: 3; 
    }

    .pessoa img {
        border: 0.3rem solid var(--cor7);
    }
    
    .pessoa img.bege {
        border: 0.3rem solid var(--cor2);
    }
    
    .person {
        font-size: 18px;
    }
    
}

@media (min-width: 90rem) {

    body {   
        padding: 12.7rem;
    }

    .wrapper {
        grid-template-columns: repeat(4, 19.5rem);
        column-gap: 2.4rem;
        row-gap: 1.8rem;
    }
    
    .grid-col-span-2 {
        grid-column: span 2;
    }         
        
    .grid-row-span-2 {
        grid-row: span 2;
    }
    
    section:last-child {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    section {   
        height: 21.6rem; 
        padding: 1.85rem 2.2rem 2.4rem 2.2rem;
    }

    .primeiro {
        background-color: var(--cor6);
        background-image: url(images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position-x: 81%;
        color: var(--cor1);   
        
    }

    .primeiro .setenta {
        margin-top: 0;
    } 
    .segundo .setenta {
        margin-top: 0;
    } 
    
    .terceiro {
        height: 20.5rem;
    }
    
    .quarto {
        height: 20.5rem;
        padding: 1.85rem 3rem 2.4rem 2.2rem;
    }

    .quarto .setenta {
        margin-top: 0.5rem;
    } 

    .quarto h1 {
        font-size: 1.52rem;
    }
    
    .quinto {
        height: 44rem;
                
    }

    .person {
        line-height: 15px;
        font-size: 13px;
    }
    
    h1 {
        font-size: 20.3px;
        line-height: 24px;
        font-weight: bolder;
        padding: 13.1px 0 17px 2.2px;
    }
    
    .cinquenta {
        opacity: 50%;
        font-size: 11px;
    }
    
    .setenta {
        opacity: 70%;
        margin-top: 5px;
        margin-left: 1px;
        font-size: 13.1px;
        line-height: 17.8px;
        padding: 0px 0px 0px 2.2px;
    }
    
}





